---


const {team} = Astro.props
import Link from "./ui/link.astro"
import { Image } from "@astrojs/image/components"
import imagePlaceholder from "@assets/hero-pt.jpg"

// set persaon to the nth object in an array or assign to the original object
// const person = Array.isArray(team) ? team[0] : team
const { title, subtitle, person} = Astro.props.props || {}

const defaultValues = {
  title: "A catchy belief statement",
  subtitle: "Your subtitle goes here",
  person: {
    name: "Jane Doe",
    title: "Professional",
    avatar: {
      src: imagePlaceholder,
      width: 480,
      fit: 'cover',
      alt: "Jane Doe",
      loading: "lazy",
    }
  }
}

const finalTitle = title || defaultValues.title
const finalSubtitle = subtitle || defaultValues.subtitle
const finalPerson = person || defaultValues.person


---

<div class="bg-slate-50 max-w-4xl mx-auto m-12 p-4 md:p-12">
    <div class="flex items-center md:gap-8 flex-col space-y-8 py-12 md:space-y-0 lg:flex-row lg:items-center">
      <div class="group">
        <Image
                {...finalPerson?.avatar || defaultValues.person.avatar}
                format="avif"
                alt="Team"
                class="rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
      </div>
      <div class="mt-4 max-w-md mx-auto space-y-4">
        <h2 class="text-5xl mb-4 font-bold lg:tracking-tight">
         {finalTitle}
        </h2>
        <strong class="text-xl">{finalSubtitle}</strong>

        <div class="flex items-center space-x-2">
          <h3 >{person?.name}</h3>
          <span class="text text-slate-500">{person?.title}</span>
          </div>
        <div class="pt-4">
          <Link href="#" style="outline">Contact me now</Link>
        </div>
      </div>
    </div>
    <!-- <div class="pb-8 px-12 max-w-[50%] space-y-4 slate-900 text-lg">
      <p>Therapy has many benefits for promoting positive psychology, including increasing happiness and well-being, reducing stress and anxiety, and improving relationships. By working with a therapist, individuals can explore their thoughts, feelings, and behaviors to gain a deeper understanding of themselves and their experiences. This can lead to greater self-awareness and insight, which can enhance personal growth and overall life satisfaction.</p>
    </div>-->
  </div>