---
import Link from "./ui/link.astro";
const { title, subtitle, button, paragraphs, style}: {title: string; subtitle: string; button: Object; paragraphs?: Array<string>; style: string} = Astro.props.props

// style object based on value of style prop primary or secondary

const styleObj: Record<string, string> = {
  "primary": "bg-gradient-to-br from-violet-500/80 via-violet-700/40 to-violet-700/80",
  "secondary": "bg-gray-800",
  "outline": "bg-transparent border-2 border-black",
}

const styleClasses : string = styleObj[style]

let invert;
if (style !== "outline") {
  invert = "text-white"
}

console.log(invert)


---
{style === "outline" && (

<div
  class:list={["relative border-4 border-slate-800 px-8 py-12 mx-auto rounded-lg flex flex-col gap-4 items-center text-center z-20" ]}>
  <div class:list={["absolute inset-80 z-10 rounded-lg blur-3xl", styleClasses]}>
  </div>
  <div class="relative z-30 flex flex-col items-center p-6 bg-slate-500/90 bg-opacity-10 rounded-xl py-10 backdrop-blur-3xl ">
    <h2 class:list={["font-semibold text-4xl md:text-5xl", invert]}>{title}</h2>
    <p class:list={["  text-lg mt-6 md:text-xl max-w-2xl", invert]}>
      {subtitle}
    </p>
    {paragraphs ? paragraphs.map((p) => (
      <p class:list={["  text-lg mt-6 md:text-xl max-w-2xl", invert]}>
        {p}
      </p>
    )) : null
  }
    <div class="flex mt-8">
      <Link href="#" style="muted" class="bg-white font-bold text-black">{button.text}</Link>
    </div>

  </div>
</div>

)}

{style !== "outline" && (
    <div
  class:list={["relative border-4 border-slate-800 px-8 py-12 mx-auto rounded-lg flex flex-col gap-4 items-center text-center z-20" ]}>
  <div class:list={["absolute inset-2 z-10 rounded-lg ", styleClasses]}>

  </div>
  <div class="relative z-30 flex flex-col items-center p-6 bg-slate-50 bg-opacity-10 rounded-xl py-10 backdrop-blur-3xl ">
    <div class:list={["absolute inset-0 z-10 ", invert ]}></div>
    <h2 class:list={["font-semibold text-4xl md:text-5xl", invert]}>{title}</h2>
    <p class:list={["text-lg mt-6 md:text-xl max-w-2xl", invert]}>
      {subtitle}
    </p>
    {paragraphs?.map((p) => (
      <p class:list={["text-lg mt-2 md:text-xl max-w-2xl", invert]}>
        {p}
      </p>
    ))
  }
    <div class="flex mt-8">
      <Link href="#" style="muted" class="bg-white font-bold text-black">{button.text}</Link>
    </div>

  </div>
</div>
)}


