---
import { Icon } from "astro-icon";
const { props } = Astro.props
const {cards} = Astro.props
const {title} = Astro.props
const {hook} = Astro.props
---

<div class="py-20">
  <div>
    <h2 class="text-4xl lg:text-6xl font-bold lg:tracking-tight max-w-5xl mb-8">
      {title}
    </h2>
    <p class="text-lg mt-4 text-slate-600 max-w-3xl">
      {hook}
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      cards.map((item, idx) => (
        <div class="flex flex-col gap-4  justify-start lg:min-h-[10rem]">
          <div class= "bg-black lg:bg-transparent mt-1 rounded-full p-2 w-12 h-12 shrink-0 ">
            <Icon class="text-white lg:text-black" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-2xl ">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
